.button {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border: 1px dashed #cfcfcf;
  padding: 0;
  margin: -1px 0 0 -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  transition: transform 0.15s ease-out;
  outline: none;
  z-index: 0;
}

.button:active {
  transform: scale(0.98);
}

.button p {
  line-height: 20px;
  margin: 0;
  width: 130px;
  text-align: center;
}

.button svg {
  margin-top: 12px;
}

@media screen and (max-width: 650px) {
  .button {
    width: 100%;
  }
}
