.loader {
  height: 100%;
  z-index: 1000;
}

.loader div {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  margin: -45px 0 0 -45px;
  z-index: 1500;
  border: 3px solid transparent;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader div::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #555;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.loader div::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #777;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

