.container {
  cursor: pointer;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  margin: -1px 0 0 -1px;
  background-color: var(--white);
  padding: 12px 15px;
  position: relative;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  transition: transform .25s cubic-bezier(.215, .61, .355, 1), box-shadow .25s cubic-bezier(.215, .61, .355, 1);
  z-index: 1;
  overflow: hidden;
  box-shadow: none;
}

.container:hover {
  opacity: 1 !important;
  transform: scale(1.1) !important;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,0.10);
  z-index: 10;
}

.is-published {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  height: 20px;
  width: calc(200px - 24px);
}

.time {
  margin: 0;
  font-family: var(--main-font-bold);
  font-size: 13px;
  line-height: 20px;
}

.socials {
  height: 20px;
  display: flex;
}

.body {
  text-align: left;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

.stats li {
  flex-direction: column;
}


.stats li div {
  margin: 0;
}

.stats span {
  margin: 0;
}

.overflow-gradient {
  background: linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.95),
    var(--white)
  );
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 64px;
  position: absolute;
  width: 100%;
}

.overflow-gradient ul {
  justify-content: space-between;
  margin: 0 15px;
  margin-bottom: 12px;
}

@media screen and (max-width: 650px) {
  .stats {
    display: flex;
  }

  .stats li {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .container {
    width: 100%;
  }

  .container .header {
    width: 100%;
  }

  .overflow-gradient ul {
    justify-content: center;
    justify-content: space-around;
  }
}
